extends index.jade
block vars
    - path="./"
    - var activeNav='psychoanalysis'
block content
    .photo-grid
        p Глубинная терапия. Исследование и понимание бессознательного конкретного человека.
        img(src='./images/psychoanalysis.jpg').responsive
