
html
  font-family: 'Roboto', sans-serif!important
  font-size: 100%
  @include breakpoint(max-width $break-large)
    font-size: 90%
  @include breakpoint(max-width $break-medium)
    font-size: 80%

html, body
  height: 100%
  width: 100%
  margin: 0px
  padding: 0px
  background-color: #F2F2F2

.content
  @include layout(12 no-gutters)
  .wrapper
    @include pre(3)
    @include span(6)
    text-align: center
    .picture
      width: 100%
      max-width: 25rem

