.poetry
    | Придумать чудо так не сложно  <br>
    | Сложней поверить, что все возможно  <br>
    |На грани жить! Дышать мечтой!  <br>
    |С судьбою спорить! Любить душой!  <br>
    |И каждый для себя решает сам  <br>
    |Открыть ли душу небесам! <br>
    |Целую звезды люблю я небо <br>
    |И перекресток трех дорог <br>
    |Во мне соединиться хочет <br>
    |Боюсь поверить ! И не проверить!  <br>
    |Я отпускаю все ненастья! На встречу жизни  <br>
    |И судьбе!  <br>
    |Я вновь скажу самой себе   <br>
    |И в добрый путь   <br>
    |И здравствуй счастье!   <br>
a(href="" target="_blank").author Оксана Гинзбург

