.poetry
    | Внимаю ветер,люблю я солнце <br>
    | шумят деревья,трава шумит  <br>
    |Все зеленеет и расцверает <br>
    |Приходит время , я рсцветаю <br>
    |Люблю я небо и негу счастья <br>
    |В тепле купаясь <br>
    |Благословляю свое рождение <br>
    |Спасибо Богу за это счастье <br>
    |Спасибо звездам за это время <br>
    |Судьбе спасибо <br>
    |Я принимаю и я живу  <br>
    |Спасибо жизни <br>
    |Ведь я люблю <br>
    |Люблю ребенка <br>
    |Люблю себя <br>
    |Люблю все данное судьбою <br>
    |И принимая прикосновения  <br>
    |Я принимаю свое рождение!  <br>
a(href="" target="_blank").author Оксана Гинзбург

