.poetry
    | Родной мой домик, моя душа <br>
    |Сказала да,открылись двери  <br>
    |Ты не узнала вдруг себя?!  <br>
    |Смеялась и громко пела,  <br>
    |Босые ноги танцевали  <br>
    |И тело пело, а это значит  <br>
    |Ты проснулась!  <br>
    |Не бойся слабой быть  <br>
    |не бойся , дай себя любить <br>
    |Люби сама <br>
    |И оставайся такой всегда! <br>
    |Пора вселенной сказать , да! <br>
a(href="" target="_blank").author Оксана Гинзбург

