.poetry
    |  Я лунный свет и нереальная реальность <br>
    | Как дуновение ветерка легка    <br>
    | Без запаха,  без вкуса     <br>
    | Лишь название   <br>
    | И голос мой звучит из далека   <br>
    | Желанная мечта,окутанная в одеяло <br>
    | Из нежности и страсти<br>
    | Я шепот уносящийся в ночи <br>
    | И воск расплавленной свечи  <br>
    | И миражи ,, лишь миражи! <br>
a(href="" target="_blank").author Оксана Гинзбург

